*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(yellow,black);
    cursor: pointer;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.col{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 50px;
}

.row{
    display: flex;
}
